<%- include('templates/header')-%>

<h1>Selamat Datang di <%= title %></h1>
<p>Berita Terkini</p>

<div class="card-group">
  <%beritas.forEach(function(berita) {%>
  <div class="card">
    <a href="/berita/detail/<%=berita.id%>">
      <img class="card-img-top" style="width: 23rem; height: 15rem" src="<%=berita.image%>" alt="Card image cap">
    </a>
    
    <div class="card-body">
      <h5><a href="/berita/detail/<%=berita.id%>" class="card-title"><%= berita.title %></a></h5>
      <p class="card-text"><%= berita.highlight %></p>
    </div>

    <div class="card-footer">
      <small class="text-muted">Last updated <%= berita.updatedAt.toString().substring(0,24) %></small>
    </div>
  </div>
  <%});%>
</div>
<br>
<h5><a href="/berita/list/page/0" class="card-title">List Berita Selengkapnya >></a></h5>
<br>

<%- include('templates/footer')-%>