<%- include('templates/header')-%>

<h1>Selamat Datang di <%= title %></h1>
<p>Berita Terkini</p>

<div class="card-group">
  <%beritas.forEach(function(berita) {%>
  <div class="card">
    <img class="card-img-top" src="http://localhost:3000/images/uploadimages/<%=berita.image%>" alt="Card image cap">
    <div class="card-body">
      <h5><a href="/berita/detail/<%=berita.id%>" class="card-title"><%= berita.title %></a></h5>
      <p class="card-text"><%= berita.content %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated <%= berita.updatedAt.toString().substring(0,24) %></small>
    </div>
  </div>
  <%});%>
</div>

<%- include('templates/footer')-%>