<%- include('templates/header')-%>

<h1>List Berita Selengkapnya</h1>
<% for (let index in beritas) {%>
    <div class="container col d-flex justify-content-center mt-5">
        <div class="card-group">
            <div class="card" style="width: 48rem;">
                <a href="/berita/detail/<%=beritas[index].id%>">
                    <img class="card-img-top" src="/<%=beritas[index].image%>" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5><a href="/berita/detail/<%=beritas[index].id%>" class="card-title"><%= beritas[index].title %></a></h5>
                    <p class="card-text"><%= beritas[index].highlight %></p>
                  </div>
            </div>
        </div>
    </div>
    <br>

<%} %>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="/berita/list/page/<%=previousHalaman%>">Previous</a></li>
      <li class="page-item"><a class="page-link" href="/berita/list/page/<%=currentHalaman%>"><%=currentHalaman%></a></li>
      <li class="page-item"><a class="page-link" href="/berita/list/page/<%=nextHalaman%>">Next</a></li>
    </ul>
</nav>

<%- include('templates/footer')-%>